body {
    background-color: #3B4CCA;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
.title {
    color: #FFDE00;

}
.sections {
    background-color: white;
    min-height: 50px;
    margin: 20px;

}

